@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-list {
  padding: 1rem;
  width: 100%;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    border-left: 1px solid $mercury;
    padding-right: 0;
    padding-bottom: 2.5rem;
    width: 34%;
  }

  &__heading {
    @include section-headers;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: $silver;
  }

  &__container {
    width: 100%;

    @include tablet {
      max-width: 40%;
    }

    @include desktop {
      width: 100%;
      max-width: 100%;
    }
  }
}
