@use "./typography" as *;
@use "./variables" as *;

//media queries
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//
@mixin divider {
  border-bottom: 1px solid $mercury;
}

@mixin thumbnails {
  background-color: $mercury;
  border-radius: 4px;
}

// @mixin avatar {
//   background-color: $mercury;
//   border-radius: 50%;
//   height: 2.5rem;
//   width: 2.5rem;
// }
