@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.comment {
  @include divider;
  @include mobile-padding;
  display: flex;
  gap: 1rem;
  width: 100%;

  &__content {
    @include mobile-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__identifiers {
    display: flex;
    justify-content: space-between;
  }

  &__username {
    @include mobile-subheaders;
  }

  &__date {
    color: $silver;
  }
}
