@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.comment-form {
  @include divider;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    padding: 1.5rem 1rem;
  }

  &__avatar {
    position: relative;
    top: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      gap: 1.5rem;
      width: 100%;
    }
  }

  &__input-container {
    width: 100%;
  }

  &__label {
    @include mobile-labels;
    color: $silver;
    text-transform: uppercase;

    @include tablet {
      @include large-screen-labels;
    }
  }

  &__button {
    @include tablet {
      flex: 0 0 auto;
      position: relative;
      top: 1.5rem;
    }
  }

  &__icon {
    position: absolute;
    left: 0.75rem;
    bottom: 30%;
    height: 20px;

    @include tablet {
      bottom: 25%;
    }
  }
}
