@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include divider;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }

    @include desktop {
      padding: 1.5rem 0;
      max-width: min(80%, 1280px);
    }
  }

  &__logo {
    max-height: 1.563rem;
    max-width: 7.5rem;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;

  @include tablet {
    flex-direction: row;
    gap: 1.5rem;
    width: fit-content;
  }

  @include desktop {
    justify-content: flex-end;
    width: 45%;
  }

  &__site {
    @extend .main-nav;
    flex-direction: row;

    @include desktop {
      width: 100%;
    }
  }

  &__user {
    @extend .main-nav__site;
  }

  &__link {
    width: 100%;
  }

  &__upload-icon {
    position: absolute;
    left: 0.75rem;
    bottom: 30%;
    height: 20px;

    @include tablet {
      bottom: 25%;
    }
  }
}
