@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__label {
    @include mobile-labels;
    color: $silver;
    text-transform: uppercase;
  }

  &__input {
    @include mobile-content;
  }

  &__publish-icon {
    position: absolute;
    left: 0.75rem;
    bottom: 30%;
    height: 20px;

    @include tablet {
      bottom: 25%;
    }
  }
}
