@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.upload {
  &__image-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 33%;
    }
  }

  &__image-heading {
    @include mobile-labels;
    color: $silver;
    text-transform: uppercase;

    @include tablet {
      @include large-screen-labels;
    }
  }

  &__image {
    background-color: $mercury;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 4px;
  }
}
