@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-details {
  &__quick-facts {
    @include mobile-padding;
    @include divider;
    display: flex;
    gap: 1rem;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      width: 100%;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__creator-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    @include tablet {
      flex-direction: row;
      gap: 1.5rem;
      width: fit-content;
    }
  }

  &__channel {
    @include mobile-subheaders;

    @include tablet {
      @include large-screen-subheaders;
    }
  }

  &__date {
    @include mobile-content;
    color: $silver;

    @include tablet {
      @include large-screen-content;
    }
  }

  &__stats {
    @extend .video-details__creator-details;
  }

  &__numbers-container {
    display: flex;
    gap: 0.5rem;
  }

  &__numbers {
    @extend .video-details__date;
  }

  &__icon {
    fill: $silver;
    width: 18px;
    height: 18px;

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__description {
    @include desktop {
      padding-right: 1.5rem;
    }
  }
}
