@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-nav__avatar {
  background-color: $mercury;
  border-radius: 50%;
  height: 36px;
  width: 36px;

  @include tablet {
    height: 40px;
    width: 40px;
  }

  &--mobile {
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include tablet {
      display: initial;
    }
  }
}

.comment-form__avatar {
  @extend .main-nav__avatar;
  flex: 0 0 auto;
}

.comment__avatar {
  @extend .comment-form__avatar;
}
