@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

//global resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir;
  color: $brainflix-black;
  background-color: $white;
}

//component
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    max-width: 800px;
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    max-width: min(80%, 1280px);
  }
}
