@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-details {
  &__title {
    @include mobile-titles;
    @include divider;
    @include mobile-padding;
    padding-top: 1.5rem;

    @include tablet {
      @include large-screen-titles;
      padding-bottom: 0;
      padding-top: 2.25rem;
      border-bottom: none;
    }
  }

  &__description {
    @include mobile-content;
    @include mobile-padding;

    @include tablet {
      @include large-screen-content;
      @include large-screen-padding;
    }
  }

  &__comment-count {
    @include mobile-subheaders;

    @include tablet {
      @include large-screen-subheaders;
    }
  }
}
